body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

p img.nebula1 {
	float: left;
	display: inline-block;
	margin: 10px;
}

p img.nebula2 {
	float: right;
	margin: 10px;
}
